*{
    font-family: Algerian;
}
section{
    background-color: rgb(205, 247, 162);
    flex-wrap: wrap;
}
img{
    border-radius: 8px;
}
.form_box{
    display: flex;
    justify-content: center;
    width: 100%;
}
.card,.book,.details{
    border-radius: 10px;
    height: 300px;
    width: 200px;
}
.box{
    transition: transform 1s;
    transform-style: preserve-3d;
}
.card{
    position: relative;
    background-color: transparent;
}
.details{
    transition: 3s;
    backface-visibility: hidden;
    background-color: rgb(11, 191, 236);
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}
.card:hover .box{
    transform: rotateY(180deg);
}
@media (orientation: portrait){
    .allBooks{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .heads{
        text-align: center;
    }
    section{
        height: 45rem;
    }
    .card,.book,.details{
        border-radius: 4px;
        height: 130px;
        width: 100px;
        font-size: xx-small;
    }
    img{
        height: 130px;
        width: 100px;
        border-radius: 5px;
    }
}